/* Titulos */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
/* font-family: 'Montserrat', sans-serif; */

/* Texto */
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap'); */
/* font-family: 'Montserrat', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&family=Libre+Caslon+Display&display=swap');
/* font-family: 'Baloo Tamma 2', cursive;
font-family: 'Libre Caslon Display', serif; */
/* ------------------------------------------------  Nav --------------------------------------------*/
a.navbar-brand{
    padding-left: 50px;
}
.navOption{
    color: #0071b9;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    padding: 0px 20px;
    
}
.navOption:hover{
    color: #13a4ff;
    text-decoration: none;
}
.barOptions{
    padding: 0px 50px;
    display: flex;
    /* horizontalmente eje x */
    justify-content: flex-end;
    /* verticalmente eje Y */
    /* align-items:flex-end; */
    /* Direccion de mis elementos en el eje X row eje Y colum  */
    flex-direction: row;
}
.redes{
    margin: 0px 20px;
    height: 100%;
    width: 25px;
}
.iconRedes{
    height: 100%;
}
/* -------------------------------------------    FIN NAV   -------------------------------------- */

/* -------------------------------------------    CAROUSEL  -------------------------------------- */
.slideCafe{
    height: 88.4vh;

    
}
.textoCarousel{
    color: white; 
    background-color: rgba(0, 0, 0, 0.493); 
}
.centerCarousel{
    display: flex;
    /* horizontalmente eje x */
    justify-content: space-around;
    /* verticalmente eje Y */
    align-items: center;
    /* Direccion de mis elementos en el eje X row eje Y colum  */
    flex-direction: column;
}
.carousel{
    width: 90%;
}
/* -------------------------------------------  FIN CAROUSEL ------------------------------------ */
.productoresMex{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
.productoresTittle{
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 40px;
}
.cardProductoresTittle {
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 25px;
}
.card-text{
    font-family: 'Baloo Tamma 2', cursive;
    text-align: justify;  
}
.cardProductores{
    display: flex;
    /* horizontalmente eje x */
    justify-content: space-around;
    /* verticalmente eje Y */
    align-items: center;
    /* Direccion de mis elementos en el eje X row eje Y colum  */
    flex-direction: row;
}
.productores{
    width: 80%;
}